<div id="homepage-container">
    <div id="side-toolbar">
        <div id="main-options" class="basic-container">
            <h2 class="title" (click)="reloadPage()"><span class="dark-blue">Madagascar</span>Hub</h2>

            <div class="white-btn" routerLink="/upload">
                <i class="fa-solid fa-file-circle-plus"></i>
                <p>Upload file</p>
            </div>
            <div class="text-options first-text" (click)="sharedWithMeClicked()">
                <i class="fa-solid fa-user-group"></i>
                <p>Shared with me</p>
            </div>
        </div>
        <button class="purple-btn" (click)="logout()">Log out</button>
    </div>

    <!-- obican direktorijum -->
    <div id="homepage-content" class="basic-container" *ngIf="!isSharedWithMeClicked">
        <div id="nav-container">
            <div class="single-nav-container"> 
                <p class="nav-link" style="cursor: auto !important">Files</p>
                <p *ngIf="navItems.length>0">></p>
            </div>
            <div class="single-nav-container" *ngFor="let token of navItems; let i = index"> 
                <p class="nav-link" (click)="navToFolder(token, i)">{{ token }}</p>
                <p *ngIf="i <= navItems.length-2">></p>
            </div>
            
        </div>
        <div class="content-div" *ngIf="folders.length > 0">
            <p class="content-title">Directories:</p>
            <div class="card-container">
                <div class="folder-card basic-container" *ngFor="let folder of folders; let i = index;" (click)="openFolder(folder)">
                    <div class="text-options">
                        <i class="fa-solid fa-folder"></i>
                        <p>{{ folder.split('/')[folder.split('/').length-2] }}</p>
                    </div>
                    <div id="sharedDiv" (click)="manageSharing(folder); $event.stopPropagation()">
                        <img src="../../assets/vectors/share-icon.svg">
                    </div>
                    <div id="deleteDiv" (click)="deleteFolder(folder); $event.stopPropagation()">
                        <img src="../../assets/vectors/delete_icon.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-div" *ngIf="files.length > 0">
            <div class="card-container">
                <div class="file-card basic-container" *ngFor="let file of files" style="cursor: auto !important">
                    
                    <div class="share-div" (click)="openShareDialog()">
                        <i class="fa-solid fa-share-nodes dark-gray" style="font-size: 20px; cursor: pointer;"></i>
                    </div>
                    <div class="file-image">
                        <i class="fa-solid fa-file file-icon"></i>
                    </div>
                    <div class="file-footer">
                        <p class="file-name">{{ file.name }}</p>
                        <div id="editDiv" style="cursor: auto !important">
                            <img src="../../assets/vectors/edit_icon.svg">
                        </div>
                        <div id="deleteDiv" style="cursor: auto !important">
                            <img src="../../assets/vectors/delete_icon.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p class="dark-gray" *ngIf="loaded && files.length==0 && folders.length==0">No content :( Feel free to add some files and folders</p>
    </div>

    <!-- shared with me direktorijum -->

    <div id="homepage-content" class="basic-container" *ngIf="isSharedWithMeClicked">
        <div id="nav-container">
            <div class="single-nav-container"> 
                <p class="nav-link" (click)="navToFolder('Shared-root', 0)">Shared-root</p>
                <p *ngIf="navItems.length>0">></p>
            </div>
            <div class="single-nav-container" *ngFor="let token of navItems; let i = index"> 
                <p class="nav-link" (click)="navToFolder(token, i)">{{ token }}</p>
                <p *ngIf="i <= navItems.length-2">></p>
            </div>
            
        </div>
        <div class="content-div" *ngIf="folders.length > 0">
            <p class="content-title">Directories:</p>
            <div class="card-container" style="height: 40px">
                <div class="folder-card basic-container" *ngFor="let folder of folders; let i = index;" (click)="openFolder(folder)">
                    <div class="text-options">
                        <i class="fa-solid fa-folder"></i>
                        <p>{{ folder.split('/')[folder.split('/').length-2] }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-div" *ngIf="files.length > 0">
            <p class="content-title">Files:</p>
            <div class="card-container">
                <div class="file-card basic-container" *ngFor="let file of files">
                    <div class="file-image">
                        <i class="fa-solid fa-file file-icon"></i>
                    </div>
                    <div class="file-footer">
                        <p class="file-name">{{ file.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
