.full-width {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .shared-with {
    margin-top: 15px;
  }
  
  .shared-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  .shared-user .name {
    font-weight: bold;
  }
  
  .shared-user .email {
    margin-left: 8px;
    color: gray;
  }
  